  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    background-color: #F6F6F6;
  }

  #about {
    min-height: 250px;
    max-width: 800px;
    margin: auto;
  }

  #researchsection {
    min-height: 250px;
    max-width: 800px;
    margin: auto;
  }

  #hobbiessection {
    min-height: 250px;
    max-width: 800px;
    margin: auto;
  }
  
  header {
    background-color: #dcdcdc;
    padding: 20px;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: #702222;
  }

  main {
  padding: 50px;
  }

  h1 {
  font-size: 32px;
  color: #702222;
  }

  h2 {
  font-size: 18px;
  color: #702222;
  margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }

  footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  }

  label {
  font-weight: bold;
  margin-bottom: 10px;
  }
